.texti-red {
-fx-border-color: red
}

.texti-green {
-fx-border-color: green
}

.text-black {
-fx.border-color: black
}

.text-size {
-fx-font-size: 12pt;
-fx-font-family: "Trebuchet MS", sans-serif
}

.button-size{
-fx-font-family: "Trebuchet MS", sans-serif
}
